@use "../abstracts/variables";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// FONT WEIGHTS

@each $weight in $weights {
    .font-#{$weight} {
        font-weight: $weight;
    }
}

// FONTS

.font {
    //font-size: inherit;

    &-lg { font-size: large; }

    &-md { font-size: medium; }

    &-sm { font-size: small; }

    &-sans-serif {
        font-family: 'Inter', 'Roboto', sans-serif;
    }

    &-serif {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
// HEADING

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}