$width: (
    "auto": auto,
    "0": 0,
    "1": .2rem,
    "2": .4rem,
    "3": .6rem,
    "4": .8rem,
    "5": .10rem,
    "6": 1.2rem,
    "7": 1.4rem,
    "8": 1.6rem,
    "9": 1.8rem,
    "10": 2rem,
    "11": 2.4rem,
    "12": 2.6rem,
    "14": 2.8rem,
    "15": 3rem,
    "16": 3.2rem,
    "17": 4.2rem,
    "1_2": 50%,
    "1_3": 33.33333%,
    "2_3": 66.66667%,
    "1_4": 25%,
    "2_4": 50%,
    "3_4": 75%,
    "1_5": 20%,
    "2_5": 40%,
    "3_5": 60%,
    "4_5": 80%,
    "1_6": 16.66667%,
    "2_6": 33.33333%,
    "3_6": 50%,
    "4_6": 66.66667%,
    "5_6": 83.33333%,
    "1_12": 8.33333%,
    "2_12": 16.66667%,
    "3_12": 25%,
    "4_12": 33.33333%,
    "5_12": 41.66667%,
    "6_12": 50%,
    "7_12": 58.33333%,
    "8_12": 66.66667%,
    "9_12": 75%,
    "10_12": 83.33333%,
    "11_12": 91.66667%,
    "full": 100%,
    "screen": 100vw,
    "min": min-content,
    "max": max-content,
    "fit": fit-content,
);



$step: 0.50rem;
$max: 100rem;

@for $i from 0 through ($max / $step) {
  .w-#{$i} {
    width: ($i * $step);
  }
}