$width: (
    "auto": auto,
    "fit": fit-content,
    "min": min-content,
    "max": max-content,
    "0": 0,
    "1": .1rem,
    "2": .2rem,
    "3": .3rem,
    "4": .4rem,
    "5": .5rem, 
    "6": .6rem,
    "7": .7rem,
    "8": .8rem,
    "9": .9rem,
    "10": 1rem,
    "11": 1.1rem,
    "12": 1.2rem,
    "13": 1.3rem,
    "14": 1.4rem,
    "15": 1.5rem,
    "16": 1.6rem,
    "20": 2rem,
    "24": 2.4rem,
    "28": 2.8rem,
    "32": 3.2rem,
    "36": 3.2rem,
    "40": 4rem,
    "44": 4.4rem,
    "48": 4.8rem,
    "52": 5.2rem,
    "56": 5.6rem,
    "60": 6rem,
    "64": 6.4rem,
    "100": 10rem,
    "640": 64rem,
    "1280": 128rem,
    "1920": 192rem,   
    "1_2": 50%,
    "1_3": 33.33333%,
    "2_3": 66.66667%,
    "1_4": 25%,
    "2_4": 50%,
    "3_4": 75%,
    "1_5": 20%,
    "2_5": 40%,
    "3_5": 60%,
    "4_5": 80%,
    "1_6": 16.66667%,
    "2_6": 33.33333%,
    "3_6": 50%,
    "4_6": 66.66667%,
    "5_6": 83.33333%,
    "1_12": 8.33333%,
    "2_12": 16.66667%,
    "3_12": 25%,
    "4_12": 33.33333%,
    "5_12": 41.66667%,
    "6_12": 50%,
    "7_12": 58.33333%,
    "8_12": 66.66667%,
    "9_12": 75%,
    "10_12": 83.33333%,
    "11_12": 91.66667%,
    "full": 100%,
    "screen": 100vw,
);

$start: 0;
$end: 88;
$step: 0.4rem;


@for $i from $start through $end {
  $value: $i * $step;

  .p-#{$i * 4} {
    padding: $value;
  }

  .pt-#{$i * 4} {
    padding-top: $value;
  }

  .pb-#{$i * 4} {
    padding-bottom: $value;
  }

  .pr-#{$i * 4} {
    padding-right: $value;
  }

  .pl-#{$i * 4} {
    padding-left: $value;
  }

  .py-#{$i * 4} {
    padding: $value 0;
  }

  .px-#{$i * 4} {
    padding: 0 $value;
  }
}

@each $name, $value in $width {
    .w-#{$name} {
        width: $value;
    }
}