// FONTS
$weights: (
    100, 200, 300, 400, 500, 600, 700, 800, 900
);

$font-sizes : (
    "xx-sm": xx-small,
    "x-sm": x-small,
    "sm": small,
    "md": medium,
    "lg": large,
    "x-lg": x-large,
    "xx-lg": xx-large,
);

// FLEX GRID

$justify: (
    "between": space-between,
    "around": space-around,
    "evenly": space-evenly,
);

$flex-grid-aligns: (
    "auto": auto,
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "stretch": stretch,
    "baseline": baseline,
);