/* Error: expected selector.
 *   ,--> src\sass\abstracts\_measurements.scss
 * 34|     .w-#{'\$name\''} {
 *   |          ^^^^^^^^^^ 
 *   '
 *   ,
 * 1 | .w-$name' 
 *   |    = error in interpolated output
 *   '
 *   src\sass\abstracts\_measurements.scss 34:10  @import
 *   src\sass\main.scss 4:9                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \250c \2500 \2500 > src\\sass\\abstracts\\_measurements.scss\a 34\2502      .w-#{'\\$name\\''} {\d\a   \2502           ^^^^^^^^^^ \a   \2575 \a   \2577 \a 1 \2502  .w-$name' \a   \2502     \2501  error in interpolated output\a   \2575 \a   src\\sass\\abstracts\\_measurements.scss 34:10  @import\a   src\\sass\\main.scss 4:9                       root stylesheet";
}
